body {
  background: #F2E9E1;
  padding-top: 50px;
  font-size:21px;
}
a {
  color: #000000;
  text-decoration: none;
}

#content {
  .title {
    color: #EB2A04;
    font-size: 28px;
  }
}

#about {
  i {
    margin-right: 5px;
  }
  h2 {
    font-size: 28px;
    padding-bottom: 5px;
  }


  img {
    max-height: 200px;
    padding-bottom: 10px;
  }

  #links {
    padding-top:20px;
  }
}
